<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="partials/partials.html :: head('Show Post')">
<title>Show this Post</title>
<body>
<nav th:replace="partials/partials.html :: navbar"></nav>
<h1>Blog</h1>
<div class="container">

    <div class="card  z-depth-5">
        <h3><span th:text="${post.title}"></span></h3>
        <p th:text="${post.body}"></p>
    </div>

</div>

<script th:replace="partials/partials.html :: materialize-js"></script>
</body>
</html>